:root{
    --main-title-color:#ffffff;
    --fourth-title-color:#2F303A;
    --main-text-color:#FFFFFF;
    --second-text-color:#212121;
    --third-text-color:#757575;
    --accent-color:#2196F3;
    --main-btn-color:#2196F3;
    --header-tex-color:#212121;
    


}

body {background-color :var(--main-title-color);
    color: var(--primary-text-color);


    font-family: Roboto,sans-serif;
}

.list {
    list-style:none ;
}

.link{
    text-decoration: none;


}

.header-logo{font-family: Raleway;
   
    font-weight: bold;
    font-size: 26px;
    line-height: 1,92px;
    
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    
}

.header{
background: #FFFFFF;
}

.header-link{

font-weight: 500;
font-size: 14px;
line-height: 0.875px;
letter-spacing: 0.02em;

color:var(--second-text-color);
}






.header-link :hover,
.header-link :focus{

color:var(--accent-color);
}

.header-maIl{
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875px;
    letter-spacing: 0.02em;
    
    color: #2196F3;

}

.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 0.875px;
letter-spacing: 0.02em;

color: #757575;
}

.hero{
    position: absolute;
width:1600 px;
height: 600 px;

left: px;
top: px;

background: #2F303A;

}

.hero-titel{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height:1.365px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;



}

.hero-button{
    position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 180px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

    color: var(--main-text-color);

}
 



